* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #23252C;
  font-family: 'Ubuntu', sans-serif;
}

.card {
  width: 320px;
  overflow: hidden;
  position: relative;
  background: #1A1B21;
  box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.img-area {
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

